.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.not-found-img {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .not-found-img {
    width: 30%;
  }
}
.not-found-head {
  color: #f8fafc;
  font-size: 15px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .not-found-head {
    font-size: 25px;
  }
}
.not-found-para {
  color: #cbd5e1;
  font-size: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .not-found-para {
    font-size: 15px;
  }
}
